<div ng-app="pingPongApp"
     ng-controller="SelectionCtrl as selection">

  <div ng-controller="PlayersCtrl as players">
    <ul>
      <li ng-repeat="player in players.all"
          ng-click="players.select(player)"
          ng-class={selected:players.isSelected(player)}>
        {{player.email}}
      </li>
    </ul>

    <button class="btn btn-default"
            ng-click="players.startGame()"
            ng-show="players.gameReady">
      Start game
    </button>
  </div>
</div>
<!-- <div class="row">
<div class="col-xs-6">.col-xs-6</div>
<div class="col-xs-6">.col-xs-6</div>
</div> -->
